# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

# The following are meant for format string vulnerability lab
# Note, the crash goal could have used the "boolean" operator
# as well because the results all come from the same program
# stdout, and thus share timestamp sets.
# DOC: whether the student crashed the program
crash =  count_greater : 0 : ( _crash_smash, _crash_sig, _crash_seg )

# DOC: was the secret2 value leaked?
_leaked_secret = matchany : string_contains : leaked_secret1 : parameter_ascii.SECRET2
# DOC: was the secret2 value modified?
modify_value = matchany : string_diff : newsecret1value : result.origsecret1value
# DOC: was the secret2 value modified to a specific value?
modify_specific = matchany : string_equal : newsecret1value : answer=0xa
# count stdin to determine if first scanf was disabled
_in_lines_2 = matchany : string_equal : input_lines : answer=2
# was ASLR enabled?
_aslr_on = matchany : string_equal : aslr : answer=2
# DOC: secret leaked with ASLR enabled?
leaked_secret = boolean : ( _aslr_on and _leaked_secret )
# DOC: secret leaked with ASLR no scanf, and ASLR disabled?
leaked_no_scanf = boolean : ( (_in_lines_2 and _leaked_secret) and_not _aslr_on )
