<% $current_page = 'Acceptable Use Policy' %>
<html>
<%= scope.function_template(['parameterised_website/subtemplates/header.html.erb']) %>
<body>
  <%= scope.function_template(['parameterised_website/subtemplates/navbar.html.erb']) %>
  <%= scope.function_template(['parameterised_website/subtemplates/acceptable_use_policy.html.erb']) %>
  <%= scope.function_template(['parameterised_website/subtemplates/scripts.html.erb']) %>
</body>
</html>