# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# some counts of how many times utilties were invoked
#
#GROUP: counts of invoking different utilities
strings_td_myfs = value : strings_td_myfs
hexdump = value : hexdump
ntfsundelete_p = value : ntfsundelete_p
# viewed deleted file content if output of dd and file not in listing from checklocal
#DOC: viewed the deleted file content
recovered_file2 = boolean : _file2_recover and_not _file2_present
