# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# results from acl display
#

# accounting file read by alice running fun
_fun_alice = matchany : integer_greater : fun_alice : answer=4

#DOC: Does not check that result is readable, but does confirm fun altered
# to read the accounting.txt file, and was run by alice.
did_trojan = boolean : (_fun_alice and _account_read and _account_alice)
