# goals.config
# 
# Please see the Labtainer Lab Designer Guide
#
# results of nmap should show ssh & http, but not telnet
#
_ssh = matchany : string_equal : ssh_open : answer=open
_http = matchany : string_equal : http_open : answer=open
_telnet = matchany : string_equal : telnet_open : answer=open
_telnetx = matchany : string_equal : telnetx_open : answer=open
# DOC: ssh & http were open, telnet closed
ports_ok = boolean : ( _ssh and _http and_not _telnet )
# DOC: blocked other, unknown ports
no_telnetx = boolean : ( _ssh and _http and_not _telnet and_not _telnetx )
