<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= @business_name %> - <%=$current_page %></title>

  <!-- Default stylesheet -->
  <link rel="stylesheet" type="text/css" href="css/default.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

  <!-- Latest compiled JavaScript -->
  <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="js/jquery-ui.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/default.js"></script>

</head>