<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title><%= @business_name %> - <%=$current_page %></title>
  <!-- Default stylesheet -->
  <link rel="stylesheet" href="css/default.css"/>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <!-- Optional theme -->
  <link rel="stylesheet" href=css/bootstrap-theme.min.css" />
</head>