# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for vpn lab
#GROUP: was able to access http over the vpn
get_index_ok = matchany : string_equal : getindexhtml : answer=True
get_link1_ok = matchany : string_equal : getlink1html : answer=True
get_link2_ok = matchany : string_equal : getlink2html : answer=True

_routertcpdumpon = matchany : string_end : routertcpdump : answer=eth0

_wgetlink1openok = matchany : string_equal : wgetlink1 : answer=172.20.0.3
#DOC: had tcpdump running while running wget over an unencrypted link
tcpdump_open_link1 = time_during : _wgetlink1openok : _routertcpdumpon

#DOC: had tcpdump running while running wget over an encrypted link
_wgetlink1encryptedok = matchany : string_equal : wgetlink1 : answer=10.8.0.1
tcpdump_encr_link1 = time_during : _wgetlink1encryptedok : _routertcpdumpon
