# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#GROUP: Counts of quantity of commands issued.
logger_count = value : logger
last_count = value : last
service_count = value : service

# Timestamped set of debug entries in /var/log/debug
# with time ranges delimited by rsyslog starting
#DOC: Altered rsyslog.conf, resulting in debug messages going to
# a custom log file (though it may not be limited to debug messages)
debug_log = time_during : some_debug : syslog_slices

# Timestamp ranges delimited by rsyslog starting, in which no
# service log entries appear in the /var/log/debug
_debug_not_mixed = time_not_during : service_in_debug : syslog_slices

#DOC: Altered rsyslog.conf, resulting in only debug messages going to
# a custom log file
exact_debug = boolean : (_debug_not_mixed and debug_log)

