[Unit]
Description=Batch Processing Service (SecGen Project)
After=postgresql.service

[Service]
ExecStart=/usr/bin/ruby /opt/secgen/lib/batch/batch_secgen.rb
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
WorkingDirectory=/opt/secgen
Restart=always

[Install]
WantedBy=multi-user.target