# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for buffer overflow vulnerability lab

#DOC: Did the student get a root shell & display the /root/.secret file?
gain_root_priv = matchany : string_equal : rootsecret : parameter.roothash

_aslron = matchany : integer_equal : aslr_setting : answer=2
_looproot = matchany : string_equal : whilesecret : parameter.roothash
#DOC: Did the student get a root shell & display /root/.secret with ASLR enabled?
while_get_root = boolean : ( _aslron and _looproot )

# DOC: Experimented with enabling stack guard?
stack_protect = matchany : string_equal : crashStringCanary : answer=smashing

