# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#GROUP: quantity of tool invocations
nmap_count = value : nmapscan
tshark_count = value : tshark_count
tcpdump_count = value : tcpdump_count
#DOC: viewed the secret file using ssh
sshview = matchany : string_start : sshsecretfile : answer=This


