# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
# 
# checking if agent connection was established
_ritgrub_prompt = boolean : ( _password_prompt_ritgrub or _password_prompt_ritgrub_name )
_server_prompt = boolean : ( _password_prompt_server_1 or _password_prompt_server_name )
agent_connection = boolean : ( _welcomemessage and_not (_server_prompt or _ritgrub_prompt or _password_prompt_keys))
# checking if agent connection was established without the use of ssh -A
config_file = boolean : ( _welcomemessage and_not (_server_prompt or _ritgrub_prompt or _password_prompt_keys or _no_sshA))

