# Filename : start.config
# Description:
#     Establish the names of lab containers and some of their properties, including:
#       User names
#       Network connections
#       trasfer directory
#       lab master seed
#
# Typically, labs consisting of a single container can use the file without modification.
# Refer to the "Labtainer Lab Designer User Guide" for details. 

GLOBAL_SETTINGS
        # GRADE_CONTAINER - container where instructor will perform grading
        # Change the default to the name of one of your containers, otherwise 
        # a container will be picked for you.
	GRADE_CONTAINER radius

        # HOST_HOME_XFER - directory to transfer artifact to/from containers, relative to the user's HOME
	HOST_HOME_XFER seed_dir/

	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED radius_mike_master_seed

        # Uncomment the following to cause the content of the lab/docs directory
        # to be collected and included in the student artifacts.
        # COLLECT_DOCS YES

# SUBNETS.  Here is where you define subnets that will be available to the containers.
# Each subnet is assiged a name, a mask and gateway, as in the following example:
#
NETWORK  LAN
     MASK 172.25.0.0/24
     GATEWAY 172.25.0.101
#
# Container name and settings.  Here is where you define each container in terms of its name,
# user, number of virtual terminals, and its network connections.
# 
CONTAINER radius
	USER admin
        PASSWORD password
	SCRIPT NONE
	X11 YES
        LAN  172.25.0.2
CONTAINER client1
	USER bob
        LAN  172.25.0.3
        TERMINAL_GROUP client
        ADD-HOST controller1:172.25.0.10
        ADD-HOST controller2:172.25.0.11
CONTAINER client2
	USER alice
        LAN  172.25.0.4
        TERMINAL_GROUP client
        ADD-HOST controller1:172.25.0.10
        ADD-HOST controller2:172.25.0.11
CONTAINER controller1
	USER cadmin
        LAN  172.25.0.10
        TERMINAL_GROUP controller
        TERMINALS 0
CONTAINER controller2
	USER cadmin
        LAN  172.25.0.11
        TERMINAL_GROUP controller
        TERMINALS 0
