# Filename : start.config
# Description:
#     Establish the names of lab containers and some of their properties, including:
#       User names
#       Network connections
#       trasfer directory
#       lab master seed
#
GLOBAL_SETTINGS
	GRADE_CONTAINER snort
	HOST_HOME_XFER seed_dir/
	LAB_MASTER_SEED snort_mike_master_seed

NETWORK  LAN1
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.101
NETWORK  LAN2
     MASK 192.168.2.0/24
     GATEWAY 192.168.2.101
NETWORK  LAN3
     MASK 192.168.3.0/24
     GATEWAY 192.168.3.101
NETWORK  WAN
     MASK 203.0.113.0/24
     GATEWAY 203.0.113.101
NETWORK  ISP_GW
     MASK 10.10.0.0/24
     GATEWAY 10.10.0.101
NETWORK REMOTE_LAN 
     MASK 172.16.0.0/24
     GATEWAY 172.16.0.101
#
# Container name and settings.  Here is where you define each container in terms of its name,
# user, number of virtual terminals, and its network connections.
# 
CONTAINER ws2
	USER mary
        LAN2 192.168.2.1
        X11 YES
        TERMINAL_GROUP 1
        ADD-HOST www.example.com:192.168.1.2
CONTAINER snort
	USER tom
        TERMINAL_GROUP 1
        LAN3 192.168.3.1
        X11 YES
CONTAINER isp
	USER ubuntu
        WAN 203.0.113.1
        ISP_GW 10.10.0.1
        TERMINALS -1
CONTAINER web_server
	USER admin
        LAN1 192.168.1.2
        TERMINAL_GROUP LOCAL
        SCRIPT NONE
CONTAINER gateway
	USER ubuntu
        LAN1 192.168.1.10
        LAN2 192.168.2.10
        LAN3 192.168.3.10
        WAN 203.0.113.10
        TERMINAL_GROUP LOCAL
CONTAINER remote_ws
	USER hank
        REMOTE_LAN 172.16.0.1
        TERMINAL_GROUP remote
        X11 YES
        ADD-HOST www.example.com:203.0.113.10
CONTAINER remote_gw
	USER admin
        REMOTE_LAN 172.16.0.10
        WAN 203.0.113.20
        TERMINAL_GROUP remote
