# goals.config
# 
# Please the Labtainers Lab Designer User Guide

# Note these goals are intended mostly for testing the framework.
#DOC: viewed file from telnet
telnetview = matchany : string_equal : fileview : parameter.FSTRING
#DOC: viewed file from ssh
sshview = matchany : string_equal : sshfileview : parameter.FSTRING
