# parameter.config
# 
# Please see ..../docs/parameter.config.format

# The following are meant for vpn lab
HTTPSERVERLINK1 : HASH_REPLACE : server:/home/ubuntu/link1.html : HTTP_SECRET : myhttpsecretubuntufile
HTTPSERVERLINK2 : HASH_REPLACE : server:/home/ubuntu/link2.html : HTTP_SECRET : myhttpsecretubuntufile

