# Filename : start.config
# Description:
#     This is a simple configuration file read by start.sh

GLOBAL_SETTINGS
        # GRADE_CONTAINER - container where instructor will perform grading
	GRADE_CONTAINER client

        # HOST_HOME_XFER - directory to transfer artifact to/from containers
	HOST_HOME_XFER seed_dir/

	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED vpnlabseedisnotveryhardtoguess

# SUBNETS
NETWORK SERVER_LAN
	MASK 172.20.0.0/24
        GATEWAY 172.20.0.100

NETWORK CLIENT_LAN
	MASK 172.25.0.0/24
	GATEWAY 172.25.0.101

# Container name and settings
CONTAINER server
	USER ubuntu
	SERVER_LAN 172.20.0.3

CONTAINER client
	USER ubuntu
	XTERM INSTRUCTIONS
	CLIENT_LAN 172.25.0.2

CONTAINER router 
	USER ubuntu
	TERMINALS 1
	SERVER_LAN 172.20.0.1 
	CLIENT_LAN 172.25.0.1

