# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#SUM: No assessment of specific outcomes, just a list of command counts.

#GROUP: Count of commands issued by the student
tar_count = value : tar
dump_count = value : dump
restore_count = value : restore
openssl_count = value : openssl
