# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

# Goals for the onewayhash lab.

# which hash algorithms did the student try?
_md5done = matchany : string_equal : md5filedigest : answer=filetodigest.txt
_sha1done = matchany : string_equal : sha1filedigest : answer=filetodigest.txt
_shadone = matchany : string_equal : shafiledigest : answer=filetodigest.txt
_sha256done = matchany : string_equal : sha256filedigest : answer=filetodigest.txt
_sha224done = matchany : string_equal : sha224filedigest : answer=filetodigest.txt
_sha384done = matchany : string_equal : sha384filedigest : answer=filetodigest.txt
_sha512done = matchany : string_equal : sha512filedigest : answer=filetodigest.txt
_md4done = matchany : string_equal : md4filedigest : answer=filetodigest.txt
_whirlpooldone = matchany : string_equal : whirlpoolfiledigest : answer=filetodigest.txt
_rmd160done = matchany : string_equal : rmd160filedigest : answer=filetodigest.txt
# did student try at least 3?
# DOC: Did the student try 3 different has algorithms?
did_3_hashes = count_greater : 2 : (_md5done, _sha1done, _shadone, _sha256done, _sha384done, _sha512done, _md4done, _whirlpooldone, _rmd160done)

# keyed hash with three precribed algorithms
# GROUP: Three prescribed algorithms for HMAC operations
hmac_md5_done = matchany : string_equal : hmacmd5filedigest : answer=filetodigest.txt
hmac_sha1_done = matchany : string_equal : hmacsha1filedigest : answer=filetodigest.txt
hmac_sha256_done = matchany : string_equal : hmacsha256filedigest : answer=filetodigest.txt

#GROUP: Two prescribed algorithms for observing changes in hash due to file modification
random_sha256diff = matchacross : string_diff : random_sha256digest : random_sha256digest
random_md5diff = matchacross : string_diff : random_md5digest : random_md5digest

own_work = matchany : string_equal : student_watermark : parameter.DIGESTFILE
