# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
remote_nmap_443 = time_during : _remote_nmap_443 : _iplog
remote_nmap_sql = time_during : _remote_nmap_sql : _iplog
local_nmap_443 = time_during : _local_nmap_443 : _iplog
local_nmap_sql = time_during : _local_nmap_sql : _iplog
remote_correct = boolean : ((remote_nmap_443 and_not remote_nmap_sql) and local_nmap_443 and local_nmap_sql)
