# parameter.config
# 
# Please see the Labtainer Lab Designer User Guide
#
#DIGESTFILE : HASH_REPLACE : server:/home/ubuntu/filetodigest.txt : MY_DIGEST : mydigeststring 
CLIENT1_IP : RAND_REPLACE_UNIQUE : start.config : CLIENT1_IP : 10 : 150
CLIENT2_IP : RAND_REPLACE_UNIQUE : start.config : CLIENT2_IP : 10 : 150
