# Filename : start.config
# Description:
#     Establish the names of lab containers and some of their properties, including:
#       User names
#       Network connections
#       trasfer directory
#       lab master seed
#
# Typically, labs consisting of a single container can use the file without modification.
# Refer to the "Labtainer Lab Designer User Guide" for details. 

GLOBAL_SETTINGS
        # GRADE_CONTAINER - container where instructor will perform grading
	GRADE_CONTAINER client1

        # HOST_HOME_XFER - directory to transfer artifact to/from containers
	HOST_HOME_XFER seed_dir/

	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED iptables_mike_master_seed

# SUBNETS.  Here is where you define subnets that will be available to the containers.
# Each subnet is assiged a name, a mask and gateway, as in the following example:
#
NETWORK  CLIENT_NET
     MASK 172.24.0.0/24
     GATEWAY 172.24.0.101
NETWORK  SERVER_NET
     MASK 172.25.0.0/24
     GATEWAY 172.25.0.101
#
# Container name and settings.  Here is where you define each container in terms of its name,
# user, number of virtual terminals, and its network connections, as in the following example:
# 
CONTAINER client1
        # user name of user who interacts with the container.
	USER admin
        CLIENT_NET 172.24.0.CLIENT1_IP
        X11 YES
        ADD-HOST plc:172.25.0.3
        TERMINAL_GROUP 1
CONTAINER client2
        # user name of user who interacts with the container.
	USER admin
        CLIENT_NET 172.24.0.CLIENT2_IP
        X11 YES
        ADD-HOST plc:172.25.0.3
        TERMINAL_GROUP 1
CONTAINER plc 
        # user name of user who interacts with the container.
	USER admin
        PASSWORD admin_password
        SERVER_NET 172.25.0.3
        #TERMINALS -1
        TERMINALS 0
CONTAINER firewall
        # user name of user who interacts with the container.
	USER admin
        SERVER_NET 172.25.0.4
        CLIENT_NET 172.24.0.4
        X11 YES
        TERMINALS 2
        TERMINAL_GROUP 2



