# goals.config
# 
# Please see ..../docs/goals.config.format

# The following are meant for vpn lab

_routereth0tcpdump = matchany : string_end : routertcpdump : answer=eth0
_routereth1tcpdump = matchany : string_end : routertcpdump : answer=eth1

_routerlistenon = boolean : ( _routereth0tcpdump or _routereth1tcpdump )

_wgetlink1encryptedok = matchany : string_equal : wgetlink1 : answer=192.168.0.4

#DOC: Ran tcpdump while using wget over an encrypted link
tcpdump_encr_link1 = time_during : _wgetlink1encryptedok : _routerlistenon
