# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#SUM: A subset of the lab goals.
_ping_suid = matchany : string_equal : ping_suid : answer=-rwxr-xr-x
_ping_cap = matchany : string_start : ping_cap : answer=cap_net_raw
#DOC: Was setuid disabled on ping, and the net_raw capability set?
ping_use_cap = boolean : (_ping_suid and _ping_cap)
_passwd_suid = matchany : string_equal : passwd_suid : answer=-rwxr-xr-x
#DOC: Able to change password without suid on passwd?
passwd_changed = boolean : (_passwd_suid and _passwd_changed)
