# goals.config
# 
# Please see labdesigner.md

# Note these goals are intended mostly for testing the framework.
#DOC: Used ssh to view the file
sshview = matchany : string_equal : sshfileview : parameter.FSTRING
#DOC: Was able to ssh without use of a password (used ssh keys)
sshlogin_nopsw = boolean : not _sshlogin 
