# Filename : labtainer.config
# Description:
#     This is a system wide configuration file
#
#  WARNING:  if you add relative paths to this file,
#  make sure that ParseLabtainerConfig.py converts them 
#  to absolute paths.
#
GLOBAL_SETTINGS
    # HOST_HOME_XFER - directory to transfer artifact to/from containers
    # This directory will be set relative to the current user's home directory
    # For example: if current user is joe and his home directory is /home/joe
    #              then the actual transfer directory is /home/joe/labtainer_xfer/
    HOST_HOME_XFER labtainer_xfer/

    # TESTSETS_ROOT - root directory for Regression Testing
    # This directory is based on directory hierarchy (as checked out from svn)
    # scripts that use is ran from ..../labtainer/trunk/scripts/labtainer-student/ or
    #                              ..../labtainer/trunk/scripts/labtainer-instructor/
    # Regression Testing directory is ..../labtainer/testsets/labs/
    TESTSETS_ROOT ../../testsets/labs/

    # WATERMARK_ROOT - root directory for Watermark Testing
    # This directory is based on directory hierarchy (as checked out from svn)
    # scripts that use is ran from ..../labtainer/trunk/scripts/labtainer-student/ or
    #                              ..../labtainer/trunk/scripts/labtainer-instructor/
    # Watermark Testing directory is ..../labtainer/testsets/watermark/
    WATERMARK_ROOT ../../testsets/watermark/

    # FILE_LOG_LEVEL and CONSOLE_LOG_LEVEL
    # valid levels are: DEBUG, INFO, WARNING or ERROR
    # specifies the log level to file and console respectively
    # log to file logging.INFO and above
    FILE_LOG_LEVEL DEBUG
    # log to console logging.WARNING and above
    CONSOLE_LOG_LEVEL WARNING
    # An alternate apt/sources.list hostname.  Default is archive.ubuntu.com
    #APT_SOURCE mirror.picosecond.org
    DEFAULT_REGISTRY mfthomps
    TEST_REGISTRY testregistry:5000
