# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#
#  NOTE: a boolean opeartor would not be appropriate because the
#  result values are from different timestamp sets.
#
#DOC Student logged into controller1
controller1 = count_greater : 0 : (_client1_controller1, _client2_controller1)
#DOC Student logged into controller2 -- implies controller2 as added to the radius clients
controller2 = count_greater : 0 : (_client1_controller2,  _client2_controller2)

changed_pwd = boolean : ( _logged_in and_not _hardcoded )
