# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
_shasum_1 = matchany : string_equal : shasum_bits : answer=1
_shasum_224 = matchany : string_equal : shasum_bits : answer=224
_shasum_256 = matchany : string_equal : shasum_bits : answer=256
_shasum_384 = matchany : string_equal : shasum_bits : answer=384
_shasum_512 = matchany : string_equal : shasum_bits : answer=512
_shasum_512224 = matchany : string_equal : shasum_bits : answer=512224
_shasum_512256 = matchany : string_equal : shasum_bits : answer=512256
#DOC: Did at least 7 different sha checksums
did_7_shasum = count_greater : 6 : (_shasum_1, _shasum_224, _shasum_256, _shasum_384, _shasum_512, _shasum_512224, _shasum_512256)
#DOC: hashed the floppy
hashed_floppy = matchany : string_equal : hashed_floppy : answer=91dbf055b06c2c54ad54b6cc83c3fb2c1f2944ae732f8075cd7bd39340e5ca50
#DOC: hashed the iou file
hashed_iou = matchacross : string_diff : hashed_iou : hashed_iou
#GROUP: Count of program invocation
collide1_count = count : collide1
collide2_count = count : collide2
shasum_count = count : shasum_bits
#DOC: brute force ran openssl to discover the key
openssl_key = matchany : string_equal : openssl_key : answer=986eb8a92e561f550a911352c8b2cf5fd0465342
