# goals.config
# 
# Please see Labtainer Lab Designer User Guide

# Did the student view telent data?
# see results
# Did the student view the specific frame of interest?
# The adjustframe.py determines if the frame number captured in
# student output is equal to the original reference frame number less
# the randomly selected frame start.
# Note the students PCAP is missing the first START_FRAME frames.
#
# example of arithmetic expression
# DOC: Viewed the intended frame 
view_frame = matchany : integer_equal : (190-frame_num) : parameter.FIRST_FRAME

