# goals.config
# 
# Please see the Labtainer Lab Designer Guide
#
# results of nmap should show ssh & http, but not telnet
#
#DOC: Client1 can access the PLC via HTTP(8080), and SSH
client1_ok = boolean : _client1_8080_open and _client1_ssh_open and_not _client1_80_open and_not _client1_telnet_open and_not _client1_modbus_open 
#DOC: Client2 can access the PLC via HTTP(80 or 8080), and MODBUS
client2_ok = boolean : _client2_80_open and _client2_8080_open and_not _client2_ssh_open and_not _client2_telnet_open and _client2_modbus_open 
