# parameter.config
# 
# Please see the Labtainer Designer Lab Designer User Guide
#
WEB_IP : RAND_REPLACE_UNIQUE : outer_gw:/etc/rc.local;dns:/var/cache/bind/example.com.db;start.config : WEB_IP : 11 : 125
INNER_DMZ : RAND_REPLACE_UNIQUE : outer_gw:/etc/rc.local;inner_gw:/etc/rc.local;start.config : INNER_DMZ : 11 : 125
INNER_LAN1 : RAND_REPLACE_UNIQUE : ws1:/etc/rc.local;inner_gw:/etc/rc.local;start.config : INNER_LAN1 : 140: 192
INNER_LAN2 : RAND_REPLACE_UNIQUE : ws2:/etc/rc.local;inner_gw:/etc/rc.local;start.config : INNER_LAN2 : 200 : 254
