# Filename : start.config
# Description:
#     Establish the names of lab containers and some of their properties, including:
#       User names
#       Network connections
#       trasfer directory
#       lab master seed
#
GLOBAL_SETTINGS
	GRADE_CONTAINER ws1
	HOST_HOME_XFER seed_dir/
	LAB_MASTER_SEED ws1_mike_master_seed

NETWORK  LAN1
     MASK 198.18.1.128/26
     GATEWAY 198.18.1.130
NETWORK  LAN2
     MASK 198.18.1.192/26
     GATEWAY 198.18.1.193
NETWORK  DMZ
     MASK 198.18.1.1/25
     GATEWAY 198.18.1.126
NETWORK  WAN
     MASK 198.18.0.0/24
     GATEWAY 198.18.0.254
NETWORK  ISP_GW
     MASK 10.10.0.0/24
     GATEWAY 10.10.0.254
NETWORK REMOTE_LAN 
     MASK 203.0.113.0/24
     GATEWAY 203.0.113.254
#
# Container name and settings.  Here is where you define each container in terms of its name,
# user, number of virtual terminals, and its network connections.
# 
CONTAINER ws1
	USER tom
        TERMINAL_GROUP 1
        LAN1 198.18.1.129
CONTAINER ws2
	USER mary
        LAN2 198.18.1.194
        TERMINAL_GROUP 1
CONTAINER ws3
	USER alice
        LAN2 198.18.1.195
        TERMINAL_GROUP 1
CONTAINER inner_gw
	USER ubuntu
        LAN1 198.18.1.INNER_LAN1
        LAN2 198.18.1.INNER_LAN2
        DMZ 198.18.1.INNER_DMZ
        TERMINAL_GROUP LOCAL
CONTAINER isp
	USER ubuntu
        WAN 198.18.0.1
        ISP_GW 10.10.0.1
        TERMINALS 0

CONTAINER remote_ws
	USER hank
        REMOTE_LAN 203.0.113.2
        TERMINAL_GROUP remote
        ADD-HOST example.com:198.18.1.WEB_IP
        ADD-HOST www.example.com:198.18.1.WEB_IP
CONTAINER remote_gw
	USER admin
        REMOTE_LAN 203.0.113.1
        WAN 198.18.0.3
        TERMINAL_GROUP remote

CONTAINER web_server
	USER admin
        DMZ 198.18.1.WEB_IP
        TERMINAL_GROUP LOCAL
        SCRIPT NONE
CONTAINER outer_gw
        # user name of user who interacts with the container.
        TERMINAL_GROUP LOCAL
	USER admin
        WAN 198.18.0.2
        DMZ 198.18.1.2

CONTAINER dns
        # user name of user who interacts with the container.
	USER admin
        DMZ 198.18.1.3
        TERMINAL_GROUP LOCAL
