<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= @business_name %> - <%=$current_page %></title>

  <!-- Default stylesheet -->
  <link rel="stylesheet" type="text/css" href="css/default.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

</head>