# Filename : start.config
# Description:
#     Establish the names of lab containers and some of their properties, including:
#       User names
#       Network connections
#       trasfer directory
#       lab master seed
#
# Typically, labs consisting of a single container can use the file without modification.
# Refer to the "Labtainer Lab Designer User Guide" for details. 

GLOBAL_SETTINGS
        # GRADE_CONTAINER - container where instructor will perform grading
	GRADE_CONTAINER client

        # HOST_HOME_XFER - directory to transfer artifact to/from containers
	HOST_HOME_XFER labtainer_xfer/

	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED sshlab_jkhosali_master_seed

# SUBNETS
NETWORK SOME_NETWORK
	MASK 172.20.0.0/24 
        GATEWAY 172.20.0.100

# Container name and settings
CONTAINER server
	USER ubuntu
	SOME_NETWORK 172.20.0.3
        TERMINALS 0

CONTAINER client
	USER ubuntu
	SOME_NETWORK 172.20.0.2

