# parameter.config
# 
# Please see the Labtainer Designer Lab Designer User Guide
#
WEB_IP : RAND_REPLACE_UNIQUE : outer_gw:/etc/rc.local;dns:/var/cache/bind/example.com.db;start.config : WEB_IP : 11 : 128
INNER_DMZ : RAND_REPLACE_UNIQUE : outer_gw:/etc/rc.local;inner_gw:/etc/rc.local;start.config : INNER_DMZ : 11 : 128
INNER_LAN1 : RAND_REPLACE_UNIQUE : inner_gw:/etc/rc.local;ws1:.local/bin/fixlocal.sh;start.config : INNER_LAN1 : 11 : 128
INNER_LAN2 : RAND_REPLACE_UNIQUE : inner_gw:/etc/rc.local;ws2:.local/bin/fixlocal.sh;start.config : INNER_LAN2 : 11 : 128
