# parameter.config
# 
# Please see labdesigner.pdf

# The following are meant for pcapanalysis lab
# Replace the number of seconds to adjust for editcap (an example, not used in grading)
PCAPSECOND : RAND_REPLACE: /home/ubuntu/.local/bin/fixlocal.sh : EDITCAP_SECONDS : 100 : 3600
# Replace the starting frame number to truncate the start of the PCAP file
FIRST_FRAME : RAND_REPLACE: .local/bin/fixlocal.sh : START_FRAME : 1 : 100

