# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#SUM: Counts of program invocations
chage = count : chage
crackSHA = count : crackSHA
crackMD5 = count : crackMD5
crack512 = count : crack512
crackPre = count : crackPre
crackPre_sha1 = count : string_equal : crackPre : answer=htpasswd-sha1
crackPre_me = count : string_equal : crackPre : answer=htpasswd-me
htpasswd = count : htpasswd

