# goals.config
# 
# Please see the Labtainer Lab Designer Guide
#
# results of nmap should show ssh & http, but not telnet
#
# was each port open?
_ssh_tmp = matchany : string_equal : ssh_open : answer=open
_http_tmp = matchany : string_equal : http_open : answer=open
_telnet_tmp = matchany : string_equal : telnet_open : answer=open

# group results into time ranges delimited by iptables commands
_ssh = time_during : _ssh_tmp : iptables
_http = time_during : _http_tmp : iptables
_telnet = time_during : _telnet_tmp : iptables
_wizbang = time_during : _wizbang_tmp : iptables

# DOC: ssh & http telnet closed
first_ports_ok = boolean : ( _ssh and _http and_not _telnet )
# DOC: ssh & http and wizbang were open, telnet closed
second_ports_ok = boolean : ( _ssh and _http and _wizbang and_not _telnet )

