# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#

# DOC: Snort alerts for CONFIDENTIAL access from local 
snort_local_conf = matchany : string_equal : conf_alarm_from : answer=192.168.2.1
# DOC: Snort alerts for CONFIDENTIAL access from remote
snort_remote_conf = matchany : string_equal : conf_alarm_from : answer=192.168.1.10

# GROUP: the httpd log entries that occured during specific snort sessions
snort_remote_fire = time_during : _log_plan_remote : snort_remote_conf
snort_local_fire = time_during : _log_plan_local : snort_local_conf

# DOC: Was there a snort session with remote alarm, no local alarm, and a local nmap alarm
# during which the plan was accessed locally & remotely?
proper_config = boolean : (snort_remote_fire and_not snort_local_fire and snort_local_nmap)

