# parameter.config
# 
# Please see ..../docs/labdesigner.md

# Size of the buffer to be overflowed.
rand1 : RAND_REPLACE : /home/ubuntu/stack.c : BUFFER_SIZE : 100 : 500

roothash : HASH_REPLACE : /root/.secret : ROOT_SECRET : mysupersecretrootfile
userhash : HASH_REPLACE : /home/ubuntu/.secret : UBUNTU_SECRET : mysupersecretubuntufile

