# goals.config
# 
# created by interns, not a good example reference
#SUM: Lab created by interns, rough idea of student interaction with the shell
_did_mkdir_one = matchany : string_equal : mkdir_check : answer=MyFolder
_did_touch_one = matchany : string_equal : touch_check : answer=tester.txt
_did_pwd_one = matchany : string_equal : pwd_check : answer=/home/ubuntu/MyFolder
did_task_a = count_greater : 2 : (_did_mkdir_one, _did_touch_one, _did_pwd_one)
_did_ls_one = matchany : string_equal : list_check : answer=MyFolder
_did_mv_one = matchany : string_start : mv_check : answer=tester.txt
did_task_c = count_greater : 1 : (_did_mv_one, _did_ls_one)
_did_cp_one = matchany : string_equal : cp_check : answer=tester.txt ../MyFolder/
_did_cp_two = matchany : string_equal : cp_ls_check : answer=tester.txt
did_task_d = count_greater : 1 : (_did_cp_one, _did_cp_two)
_did_cal = matchany : integer_greater : cal_check : answer=5
_did_append = matchacross : string_equal : cal_cont_check : result.cat_cal_check
did_task_e = count_greater : 1 : (_did_cal, _did_append)
_did_more = matchany : string_equal : more_check : answer=readthis.txt
_did_less = matchany : string_equal : less_check : answer=readthis.txt
_did_rm = matchany : string_equal : rm_check : answer=readthis.txt
did_task_f = count_greater : 2 : (_did_more, _did_less, _did_rm)
own_work = matchany : string_equal : student_watermark : parameter.secret_value

