<% $current_page = 'Intranet Home' %>
<html>
<%= scope.function_template(['parameterised_website/subtemplates/header.html.erb']) %>
<body>
  <%= scope.function_template(['parameterised_website/subtemplates/navbar.html.erb']) %>
  <%= scope.function_template(['parameterised_website/subtemplates/main_container.html.erb']) %>
</body>
<%= scope.function_template(['parameterised_website/subtemplates/footer.html.erb']) %>
</html>