# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

t0 = boolean : (_t_measured_0_0 and _t_measured_1_0)
t1 = boolean : (_t_measured_0_0 and _t_measured_1_1)
t2 = boolean : (_t_measured_0_1 and _t_measured_1_0)
t3 = boolean : (_t_measured_0_1 and _t_measured_1_1)

g0 = boolean : ( (_g_measured_0_0 and _g_measured_1_0) and _g_measured_2_0)
g1 = boolean : ( (_g_measured_0_0 and _g_measured_1_0) and _g_measured_2_1)
g2 = boolean : ( (_g_measured_0_0 and _g_measured_1_1) and _g_measured_2_0)
g3 = boolean : ( (_g_measured_0_0 and _g_measured_1_1) and _g_measured_2_1)
g4 = boolean : ( (_g_measured_0_1 and _g_measured_1_0) and _g_measured_2_0)
g5 = boolean : ( (_g_measured_0_1 and _g_measured_1_0) and _g_measured_2_1)
g6 = boolean : ( (_g_measured_0_1 and _g_measured_1_1) and _g_measured_2_0)
g7 = boolean : ( (_g_measured_0_1 and _g_measured_1_1) and _g_measured_2_1)

teleportation_success = boolean : (t0 or t1 or t2 or t3)

grover_success = boolean : (g0 or g1 or g2 or g3 or g4 or g5 or g6 or g7)

