# parameter.config
# 
# Please see the Labtainer Designer Lab Designer User Guide
#

# The following are meant for wireshark-intro lab
# Replace the number of seconds to adjust for editcap (an example, not used in grading)
PCAPSECOND : RAND_REPLACE: /home/ubuntu/.local/bin/fixlocal.sh : EDITCAP_SECONDS : 100 : 3600

