# Filename : start.config
# Description:
#     This is a simple configuration file read by start.sh

GLOBAL_SETTINGS
        # GRADE_CONTAINER - container where instructor will perform grading
	GRADE_CONTAINER wireshark-intro

	# HOST_HOME_XFER - directory to transfer artifact to/from containers
	HOST_HOME_XFER seed_dir/
	
	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED wireshark-intro_jean_seed

# SUBNETS
NETWORK SOME_NETWORK 
	MASK 172.20.0.0/24 
        GATEWAY 172.20.0.100

# Container name and settings
CONTAINER wireshark-intro
	USER ubuntu
        XTERM INSTRUCTIONS
        X11 YES
