# Filename : start.config
# Description:
#     Establish the names of lab containers and some of their properties, including:
#       User names
#       Network connections
#       trasfer directory
#       lab master seed
#
# Typically, labs consisting of a single container can use the file without modification.
# Refer to the "Labtainer Lab Designer User Guide" for details. 

GLOBAL_SETTINGS
        # GRADE_CONTAINER - container where instructor will perform grading
        # Change the default to the name of one of your containers, otherwise 
        # a container will be picked for you.
	GRADE_CONTAINER client

        # HOST_HOME_XFER - directory to transfer artifact to/from containers, relative to the user's HOME
	HOST_HOME_XFER seed_dir/

	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED server_mike_master_seed

        # Uncomment the following to cause the content of the lab/docs directory
        # to be collected and included in the student artifacts.
        # COLLECT_DOCS YES

# SUBNETS.  Here is where you define subnets that will be available to the containers.
# Each subnet is assiged a name, a mask and gateway, as in the following example:
#
NETWORK  SOME_LAN
     MASK 172.25.0.0/24
     GATEWAY 172.25.0.101
#
# Container name and settings.  Here is where you define each container in terms of its name,
# user, number of virtual terminals, and its network connections, as in the following example:
# 
CONTAINER server
        # user name of user who interacts with the container.
	USER ubuntu
        # cause ~/instructions.txt to display, if it exists 
        #
        #  The number of terminals defaults to 1
        #
        #TERMINALS 1
        #
        # Here is where you would identify networks connected to the container, 
        # and assign addresses as in the following example:
        SOME_LAN 172.25.0.2
        #
        # Script name passed to the Docker start command.  This defaults to bash, which is used
        # by most Ubuntu-based labtainers.  The CENTOS containers should pass a value of "NONE"
        # because they will start with the /usr/sbin/init.
        # SCRIPT NONE
        #
        # Host names to add to /etc/hosts, may be multiple
        # ADD-HOST host:ip
        #
        # Mount Linux host X11 server socket for use by GUI-app in container. 
        X11 YES
        #
        # Alternate Registry -- NPS Labtainers are managed at dockerhub under mfthomps.  
        # REGISTRY your_registry


CONTAINER client
        # user name of user who interacts with the container.
	USER ubuntu
        SOME_LAN 172.25.0.3:12:34:56:b0:b1:b3
        # cause ~/instructions.txt to display, if it exists 
        #XTERM INSTRUCTIONS
        #
        #  The number of terminals clients to 1
        #
        #TERMINALS 1
        #
        # Here is where you would identify networks connected to the container, 
        # and assign addresses as in the following example:
        # DMZ_LINK 172.25.0.2
        #
        # Script name passed to the Docker start command.  This clients to bash, which is used
        # by most Ubuntu-based labtainers.  The CENTOS containers should pass a value of "NONE"
        # because they will start with the /usr/sbin/init.
        # SCRIPT NONE
        #
        # Host names to add to /etc/hosts, may be multiple
        # ADD-HOST host:ip
        #
        # Mount Linux host X11 server socket for use by GUI-app in container. 
        X11 YES
        #
        # Alternate Registry -- NPS Labtainers are managed at dockerhub under mfthomps.  
        # REGISTRY your_registry


CONTAINER attacker
        # user name of user who interacts with the container.
	USER ubuntu
        SOME_LAN 172.25.0.4:12:34:56:b0:b1:b4
        # cause ~/instructions.txt to display, if it exists 
        #XTERM INSTRUCTIONS
        #
        #  The number of terminals attackers to 1
        #
        #TERMINALS 1
        #
        # Here is where you would identify networks connected to the container, 
        # and assign addresses as in the following example:
        # DMZ_LINK 172.25.0.2
        #
        # Script name passed to the Docker start command.  This attackers to bash, which is used
        # by most Ubuntu-based labtainers.  The CENTOS containers should pass a value of "NONE"
        # because they will start with the /usr/sbin/init.
        # SCRIPT NONE
        #
        # Host names to add to /etc/hosts, may be multiple
        # ADD-HOST host:ip
        #
        # Mount Linux host X11 server socket for use by GUI-app in container. 
        # X11 YES
        #
        # Alternate Registry -- NPS Labtainers are managed at dockerhub under mfthomps.  
        # REGISTRY your_registry


