# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
_ch_manager = matchacross : string_diff : check_manager : check_manager
_ch_plc = matchacross : string_diff : check_plc : check_plc
_ch_nothere = matchacross : string_diff : check_nothere : check_nothere
#DOC: The student modified files that were not to be touched.
user_changed_files = count_greater : 0 : (_ch_manager, _ch_plc, _ch_nothere) 
