# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#SUM: counts of program invocations
open-ebc-count = value : open-ebc
open-cbc-count = value : open-cbc
open-ofb-count = value : open-ofb
dd-count = value : dd
hexedit-count = value : hexedit
ghex-count = value : ghex
diff-count = value : diff

