# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
# GROUP: Counts to reflect student attempts
sysctl_count = value : sysctl
nping_count = value : nping
# DOC: More than three syn_recv states on the server during syn flood attack
syn_flood = count : integer_greater : syn_recv : answer=3
# RST attack occurred, see results.config did_rst
# file dumped during nc session hijack. see results.config reverse_shell
# note: no goal for simple session hijack, assume if they 
# managed to do the reverse shell, they could do the simple command.
