# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# These assessment values simply reflect that the
# student performed some steps.  No assessment is
# made regarding correctness
#
# quantity of login failures from initial client IP
deny_valid = value : deny_2
# quantity of login failures from revised client IP
deny_invalid = value : deny_9
# hank should login ok at least twice.  second login
# should be after hosts.allow edited -- no way to
# measure that yet
hank_login = value : hank_ok
