# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#
#  Did student run nmap from ws1 & remote workstion while iptables 
#  allowed https & mysql locally and only https remotely?
#
# Group nmap outputs into iptables log timestamp groups 
# determined in results.config.
#GROUP: nmap results from remote workstation
remote_nmap_443 = time_during : _remote_nmap_443 : _iplog
remote_nmap_sql = time_during : _remote_nmap_sql : _iplog

#GROUP: nmap results from local workstation
local_nmap_443 = time_during : _local_nmap_443 : _iplog
local_nmap_sql = time_during : _local_nmap_sql : _iplog

#DOC: Reach the internet from local workstation?
reach_internet = time_during : _reach_internet : _iplog
#
# Note boolean evaluations are done per-timestamp group.  Which we have organized around
# the running of iptables.
#DOC: Did nmap from the local and remote workstations indicate a correct iptables setting?
remote_correct = boolean : ((remote_nmap_443 and_not remote_nmap_sql) and local_nmap_443 and local_nmap_sql and reach_internet)

