[Desktop Entry]
Name=DIE lite
Comment=DIE is a program for determining types of files.
Path=%%path%%
Exec=%%path%%/diel
Icon=%%path%%/desktop/diel.png
Terminal=false
Type=Application
Categories=System;
Name[de_DE]=diel
