# Filename : start.config
# Description:
#     Establish the names of lab containers and some of their properties, including:
#       User names
#       Network connections
#       trasfer directory
#       lab master seed
#
GLOBAL_SETTINGS
	GRADE_CONTAINER ws1
	HOST_HOME_XFER seed_dir/
	LAB_MASTER_SEED ws1_mike_master_seed

NETWORK  LAN1
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.101
NETWORK  LAN2
     MASK 192.168.2.0/24
     GATEWAY 192.168.2.101
NETWORK  WEB_LAN
     MASK 192.168.3.0/24
     GATEWAY 192.168.3.101
NETWORK  WAN_LOCAL
     MASK 240.0.113.0/24
     GATEWAY 240.0.113.101
NETWORK  WAN_REMOTE
     MASK 240.0.114.0/24
     GATEWAY 240.0.114.101
NETWORK  ISP_GW
     MASK 10.10.0.0/24
     GATEWAY 10.10.0.101
NETWORK REMOTE_LAN 
     MASK 172.16.0.0/24
     GATEWAY 172.16.0.101
#
# Container name and settings.  Here is where you define each container in terms of its name,
# user, number of virtual terminals, and its network connections.
# 
CONTAINER ws1
	USER tom
        TERMINAL_GROUP 1
        LAN1 192.168.1.1
CONTAINER ws2
	USER mary
        LAN2 192.168.2.1
        TERMINAL_GROUP 1
CONTAINER ws3
	USER alice
        LAN2 192.168.2.2
        TERMINAL_GROUP 1
CONTAINER gateway
	USER ubuntu
        LAN1 192.168.1.10
        LAN2 192.168.2.10
        WAN_LOCAL 240.0.113.10
        TERMINAL_GROUP LOCAL
CONTAINER isp
	USER ubuntu
        WAN_local 240.0.113.1
        WAN_remote 240.0.114.1
        ISP_GW 10.10.0.1
#        TERMINALS -1
CONTAINER remote_gw
	USER admin
        REMOTE_LAN 172.16.0.10
        WAN_REMOTE 240.0.114.10
        TERMINAL_GROUP remote
CONTAINER remote_ws
	USER hank
        REMOTE_LAN 172.16.0.1
        TERMINAL_GROUP remote
CONTAINER web_server
	USER admin
        WEB_LAN 192.168.3.2
        TERMINAL_GROUP LOCAL
        SCRIPT NONE
